.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}

.message_userName {
  text-align: left;
  font-size: 14px !important;
  color: limegreen;
  font-weight: 600 !important;
  line-height: unset !important;
  opacity: 0.8;
  margin-bottom: 5px !important;
}

.message_user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message_userCard {
  background-color: #0b81ff !important;
}

.message_guestCard {
  background-color: #e9e9eb !important;
}
